europa:
   gitrepos:
     - repo: git@github.com:zenoss/ZenPacks.zenoss.OpenStack.git
       path: ZenPacks.zenoss.OpenStack

   extended_gitconfig: True
   tmux_config: True
   resmgr: True

   # User info
   gitconfig: |
     [user]
       name = Eric Edgar
       email = eedgar@zenoss.com

   dockerhub:
      username: rocket
      email: rocketman110@gmail.com
      password: password

   #ssh_keys:
   #   privkey: |
   #       -----BEGIN RSA PRIVATE KEY-----
   #       MIIEpAIBAAKCAQEAri14UtcsvkAd+sACBZaZHcEDo2JFTCQoOr1ZenJFFTTF4fe1
   #       zZA53u9GzLoFabfdW4heBRxd3VucfAeOVBkvNCGgEFyKEVj1Xx+eK+Bs//3tgXqJ
   #       ....
   #       ....
   #       -----END RSA PRIVATE KEY-----

   #   pubkey: |
   #       ssh-rsa AAAAB3............pDg1DDur eedgar@zendev
